<div class="col-xs-12" id="signup">
  <p class="lead">Iscrivendoti alla newsletter, verrai aggiornato sulla data di pubblicazione della piattaforma Coo2Plan e su tutte le nostre iniziative future.</p>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-8 col-sm-offset-2">
      <div id="subscription-result" ng-show="alerts.length">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <button ng-click="restart()" class="btn btn-block btn-lg btn-success">Ricomincia <span class="glyphicon glyphicon-refresh"></span></button>
      </div>
      <form name="signupform" ng-hide="hideForm" ng-submit="submit()" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': signupform.name.$invalid}">
          <label class="col-sm-3 control-label" for="signup-name">Nome: <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input ng-model="user.name" name="name" required class="form-control" type="text" id="signup-name" placeholder="Nome">
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': signupform.email.$invalid}">
          <label class="col-sm-3 control-label" for="signup-email">E-mail: <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input ng-model="user.email" name="email" required class="form-control" type="email" id="signup-email" placeholder="E-mail">
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': signupform.privacy.$invalid}">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-9">
            <div class="checkbox">
              <label>
                <input ng-model="privacy" name="privacy" required type="checkbox" id="signup-privacy" value="">
                <span class="text-danger">*</span> Autorizzo il trattamento dei miei dati personali, ai sensi del D.lgs. 196 del 30 giugno 2003
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9 text-right">
            <button ng-disabled="signupform.$invalid" type="submit" class="btn btn-lg btn-warning">Sign up!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>